.nav{
    height: 100px;
    
    background-color: black;
}
.navItems{
    
    display: flex;
     align-items: center;
     justify-content: space-between;
     color: wheat;
     padding: 0 15px;
     width: 100%;
     height: 100%;
}